//colores
.bg-blue {
    background-color: $mainColor;
}

.bg-bluew {
    background-color: $secondaryColor;
}

//animaciones
.zoom {
    transition: transform .2s;
    &:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }
}